* {

}

body {
	margin: 0;
	padding: 0;
	clear: both;
}

.text-center {
	text-align: center;
}

.clear {
	width: 0;
	height: 0;
	clear: both;
}

#chart {
	/*display: flex;*/
	width: 100%;
	margin: 0 auto;
	/*border: solid 1px #000;*/
	position: relative;
}

#curtain {
	background-color: #fff;
	width: 100%;
	height: 13px;
	position: absolute;
	bottom: 0;
	z-index: 200;
}

#chartContainer {
	width: 100%;
	height: 500px;
	z-index: 100;
}


table, table * {
	font-size: 12px;
}
.pull-right {
	float:right;
	display: block;
}
.pull-left {
	float:left;
	display: block;
}

.tps_cell {
	width: 200px;
	text-align: right;
}